<!DOCTYPE html>
<div class="container">
  <div class="row">
    <h4><a ui-sref="accounts">Account </a><small><strong>&gt;&gt; create</strong></small></h4>
    <button ng-click="saveAccount()" class="btn btn-primary btn-sm" type="button" name="button">Save</button>
    <button ui-sref="accounts" class="btn btn-default btn-sm" type="button" name="button">Cancel</button>
    <hr>
  </div>
  <div class="row">
    <form class="form-horizontal" ng-submit="register()" enctype="multipart/form-data">
      <fieldset>
        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-8">
            <input ng-model="account.name" name="name" type="text" class="form-control" id="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-lg-2 control-label">Website</label>
          <div class="col-lg-8">
            <input ng-model="account.website" name="website" type="text" class="form-control" id="website" placeholder="Website">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-8">
            <input ng-model="account.email" name="email" type="text" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-lg-2 control-label">Phone</label>
          <div class="col-lg-8">
            <input ng-model="account.phone" name="phone" type="text" class="form-control" id="phone" placeholder="Phone">
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-lg-2 control-label">Address Line 1</label>
          <div class="col-lg-8">
            <input ng-model="account.address" name="address" type="text" class="form-control" id="address" placeholder="Address Line 1">
          </div>
        </div>
        <div class="form-group">
          <label for="address2" class="col-lg-2 control-label">Address Line 2 (optional)</label>
          <div class="col-lg-8">
            <input ng-model="account.address2" name="address2" type="text" class="form-control" id="address2" placeholder="Address Line 2 (optional)">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-lg-2 control-label">City</label>
          <div class="col-lg-8">
            <input ng-model="account.city" name="city" type="text" class="form-control" id="city" placeholder="City">
          </div>
        </div>
        <div class="form-group">
          <label for="state" class="col-lg-2 control-label">State</label>
          <div class="col-lg-8">
            <input ng-model="account.state" name="state" type="text" class="form-control" id="state" placeholder="State">
          </div>
        </div>
        <div class="form-group">
          <label for="zip_code" class="col-lg-2 control-label">Zip Code</label>
          <div class="col-lg-8">
            <input ng-model="account.zip_code" name="zip_code" type="text" class="form-control" id="zipCode" placeholder="Zip Code">
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Type</label>
          <div class="col-lg-8">
            <select ng-model="account.type" name="type" class="form-control" id="type">
              <option disabled selected value> -- select an option -- </option>
              <option>Customer</option>
              <option>Partner</option>
              <option>Reseller</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Industry</label>
          <div class="col-lg-8">
            <select ng-model="account.industry" name="industry" class="form-control" id="industry">
              <option disabled selected value> -- select an option -- </option>
              <option>Agriculture</option>
              <option>Apparel</option>
              <option>Banking</option>
              <option>Biotechnology</option>
              <option>Chemicals</option>
              <option>Communications</option>
              <option>Construction</option>
              <option>Consulting</option>
              <option>Education</option>
              <option>Electronics</option>
              <option>Energy</option>
              <option>Engineering</option>
              <option>Entertainment</option>
              <option>Environmental</option>
              <option>Food & Beverage</option>
              <option>Government</option>
              <option>Hospitality</option>
              <option>Insurance</option>
              <option>Machinery</option>
              <option>Manufacturing</option>
              <option>Media</option>
              <option>Not for Profit</option>
              <option>Recreation</option>
              <option>Retail</option>
              <option>Shipping</option>
              <option>Technology</option>
              <option>Telecommunications</option>
              <option>Transportation</option>
              <option>Utilities</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="account" class="col-lg-2 control-label">Contacts</label>
          <div class="col-lg-8">
            <input ng-model="account.contacts" name="contacts" type="text" class="form-control" id="contacts" placeholder="Contacts">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-8">
            <input ng-model="account.description" name="description" type="text" class="form-control" id="description" placeholder="Description">
          </div>
        </div>

        <!-- Not currently working. Uncomment after fixing -->
        <!-- <div class="form-group">
          <label for="account_image" class="col-lg-2 control-label">Account Image</label>
          <div class="col-lg-8">
            <input ng-model="account.account_image" name="account_image" type="file" class="form-control" id="account_image" placeholder="Account Image">
          </div>
        </div> -->
      </fieldset>
    </form>
  </div>
</div>
