/*body {
  background-color: red;
}*/

/*
 * Navigation Bar Styles
 */
#logout {
  cursor: pointer;
}

/*
 * Table styles
 */



/* Deal with Firefox's awkward fieldset styling involving width that interferes with the responsive table */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
