/*body {
  background-color: red;
}*/

/*
 * General Styles
 */
/* Drop body down due to fixed navbar */
body {
  margin-top: 75px;
}

/* Search fields */
#search {
  padding: 20px 0 40px 0;
}

.search-label {
  font-weight: bold;
  padding: 0 15px 0 0;
}

/* Textarea fields */
textarea {
  width: 100%;
}

/* Nested views */
.nested-view {
  margin-top: 35px;
}

/*
 * Calls view (small view)
 */
.bottom-spacing {
  margin-bottom: 35px;
}

.upload-image {
  margin-top: 20px;
}

/* Chips - Similar to Material Design */
.chip {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 2px 5px 5px;
  margin-right: 10px;
}

/*
 * Navigation Bar Styles
 */
 /* Navbar Styles */
#logout {
  cursor: pointer;
}

button.navbar-toggle span,
i.fa-bars {
  color: #FFF;
}

/* Pills Style */
/* Make smaller pills */
.nav-pills li a {
  padding: 5px 10px;
}

/*
 * Login / Register Styles
 */
/* Title with line */
.login_register_title {
  text-align: center;
  border-bottom: 1px solid #DDD;
  line-height: 0;
  padding: 0;
  margin-bottom: 50px;
}

.login_register_title span {
  background: #FFF;
  padding: 0 35px;
}

/* Border around input group */
.login_register-input-group {
  border: 1px solid darkgray;
  border-radius: 10px;
}

.input-group .input-group-addon {
  border-right: 1px solid darkgray;
}

.form-control.login_register_input {
  padding-left: 10px;
}

.fa-exclamation-circle {
  color: red;
  padding-left: 10px;
}


/*
 * Profile Styles
 */
.profile-image {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
}

.avatar-image {
  height: 25px;
  /* width: 100%; */
  /*border: 2px solid #FFF;*/
  border-radius: 5px;
}

.information {
  margin-top: 25px;
}

.information-no-top-margin {
  margin-top: 0px;
}

.profile-details {
  padding-left: 5px;
}

.profile-details li {
  list-style: none;
}

.details {
  color: gray;
  margin-top: 10px;
}

.details-info {
  display: block;
  margin-left: 22px;
  color: black;
}

.user-name {
  margin-top: 50%;
  margin-left: -30px;
}

.padding-left {
  padding-left: 0;
}

.sidebar {
  border-right: 1px solid darkgrey;
}




/*
 * Footer Styles
 */
footer {
 	background: #F4F4F4;
 	height: 90px;
 	color: #04519B;
 	font-weight: bold;
 	text-align: center;
 	padding-top: 30px;
 	margin-top: 30px;
 	border-top: 5px solid #04519B;
}

/*[class*="col-"]{
  padding-left: 0;
}*/


/*
 * avoid the undesirable flicker effect caused by the html template display
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
 display: none !important;
}

/*
 * Table styles
 */

/* Deal with Firefox's awkward fieldset styling involving width that interferes with the responsive table */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


/*
 * Media Queries
 */

 /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #search {
    padding: 20px 0 10px 0;
  }
}

 /* Small Devices, Tablets */
 @media only screen and (max-width : 767px) {
  .user-name {
    margin-top: 10px;
    font-size: 30px;
  }

  .col-xs-12 {
    padding-left: 15px;
  }

  .sidebar {
    border-right: none;
  }

  .chips {
    display: block;
    margin-bottom: 10px;
  }
 }
